.back-to-top{
  position: fixed;
  right: 15px;
  bottom: 30px;
  width: 40px;
  height: 40px;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: $color;
  color: $dark;
  font-weight: bold;
  z-index: 1050;
  &.show{display:flex;}
  &:hover{background-color:$darkcolor;color:$white;}
}
